/* Styles Media Query For Tablet Low End 1280×720 through 1920×1080 */

:root {
    --clr-dark: #070a13;

    --size-xxs: 0.5rem;
    --size-10xl: 10rem;
  }
  
  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
    
  body {
    font-family: "Delius Swash Caps", cursive, "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif, 'General Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1, .website-title { 
    display: flex;
    justify-content: center;
    border: 2px solid red;
    margin: 15px 0px 30px 0px;
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }

  .grid-container { 
    border: 2px solid blue;
    margin: 1.5rem;
    max-width: auto;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    grid-template-areas: 
    "section1 section2"
    "section3 section3"
    "section4 section5"
    ;
    height: calc(100vh - 12vh);
  }

/* Do the next two css selectors work?  */
  section { 
    border: 2px solid seagreen;
    /* background-color: ; */
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column ;
    border-radius: 0.75rem;
    overflow: hidden;
    transition: all 200ms ease;
    height: calc(100vh - 72vh);
  }

  section:hover {
    cursor: pointer;
    background-color: slategray;
    outline: 1px solid #817b7b;
  }

  button { 
    display: inline-block;
    padding: 0px;
  }

.section-1 {
    background-color: #85a832;
    grid-area: section1;
}

.section-2 {
    background-color: #de99dd;
    grid-area: section2;

}

.section-3 {
    background-color: #ffb915;
    grid-area: section3;
    border-radius: 500px;
    display: flex;
    align-items: center;
}

.section-4 {
  background-color: #bf6767;
  grid-area: section4;
}

.section-5 {
    background-color: #39c4ef;
    grid-area: section5;

}
